.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: relative;
    width: 272px;
    height: 92px;
    padding-top: 213px; 
    font-family: 'Open sans';
    font-weight: 500;
    font-size: 80px;
    color: #FFF;
}

.image-logo {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: absolute;
    left: 230px;
    bottom: 0;
    white-space: nowrap;    
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
    width: 1080px;
}

.advanced-title-main {
    margin-left: 20px;
    padding: 50px 0px 17px;
    font-size: 23px;
    padding-left: 20px;
    text-align: left;
    color: #dd4b39;
    box-shadow: #FFF;
}

.advanced-title-start,
.advanced-title-end {
    font-size: 20px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 80px;
}

.advanced-title-end {
    margin-right: 110px;
    align-items: end;
    font-size: 17px;
    color: rgb(51,51,51);
}

.advanced-fields {
    display: flex;
    margin-left: 20px;
}

.adv-lines {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.adv-line-text, 
.adv-line-text-end {
    display: flex;
    font-size: 15px;
    height: 50px;
    align-items: center;
    margin-left: 20px;
}

.adv-line-text-end {
    margin-left: 0px;
    font-size: 12px;
}

.adv-line-input {
    display: flex;
    font-size: 15px;
    height: 50px;
}

.example-text {
    padding-left: 10px;
    color: #664;
}
